<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">
    <title>расписание</title>
    <style>
        table {
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #dddddd;
            border-collapse: collapse;
        }

        table th {
            font-weight: bold;
            padding: 5px;
            background: #efefef;
            border: 1px solid #dddddd;
        }

        table td {
            border: 1px solid #dddddd;
            padding: 5px;
        }
    </style>
</head>

<body>
<h1>Schedule</h1>
<div class="topnav">
    <a></a>
</div>

<div id="myElement" data-default-days="[[${defaultDays}]]"></div>
<table id="schedule">
    <thead>
    <tr>
        <td></td>
        <td></td>
        <th th:each="dayOfWeek : ${defaultDays}" th:text="${dayOfWeek.name}">day</th>
        <td></td>
    </tr>
    </thead>


    <tbody>
    <tr th:each="timeIndex : ${#numbers.sequence(0, defaultStartTimes.size() - 1)}">

        <td th:text="${defaultStartTimes[timeIndex].toString()}">time</td>
        <td th:text="${defaultEndTimes[timeIndex].toString()}">time</td>

        <td th:each="dayIndex : ${#numbers.sequence(0,defaultDays.size()-1)}"
            th:text="${defaultContent[timeIndex][dayIndex]}"></td>
        <td></td>

    </tr>
    </tbody>

</table>


<div>
    <button id="editButton">Редактировать</button>
    <button id="saveButton" style="display: none">Сохранить изменения</button>

</div>
<div id="errorMessage"></div>
<script th:inline="javascript">

    const defaultDays = [[${defaultDays}]];
    const allDays = [[${allDays}]];

    const scheduleTable = document.getElementById('schedule');
    let scheduleTableArr = new Array(scheduleTable.rows.length);


    for (let i = 0; i < scheduleTable.rows.length; i++) {
        scheduleTableArr[i] = new Array(scheduleTable.rows[0].cells.length - 1);
    }

    for (let i = 0; i < scheduleTable.rows.length; i++) {
        for (let j = 0; j < scheduleTable.rows[0].cells.length - 1; j++) {
            scheduleTableArr[i][j] = scheduleTable.rows[i].cells[j].innerHTML;
        }
    }


    const editButton = document.getElementById('editButton');
    const saveButton = document.getElementById("saveButton");


    const plusButtonTime = document.createElement('button');
    const minusButtonTime = document.createElement('button');

    const plusButtonDay = document.createElement('button');
    const minusButtonDay = document.createElement('button');

    function startEditing() {
        saveButton.style.display = "block";
        const table = document.getElementById('schedule');
        let formsCounter = 0;

        let currCell;
        for (let j = 0; j < table.rows[0].cells.length - 1; j++) {
            for (let i = 1; i < table.rows.length; i++) {
                currCell = table.rows[i].cells[j];
                const form = document.createElement("form");
                form.id = "form" + formsCounter;
                formsCounter++;
                form.action = "";
                form.method = "put";
                const input = document.createElement("input");
                input.type = "text";
                input.value = currCell.innerHTML;
                form.appendChild(input);
                currCell.innerHTML = "";
                currCell.appendChild(form);
            }

        }


        plusButtonTime.textContent = '+';
        editButton.insertAdjacentElement('afterend', plusButtonTime);


        minusButtonTime.textContent = '-';
        plusButtonTime.insertAdjacentElement('afterend', minusButtonTime);


        plusButtonDay.textContent = '+';


        const lastCellIndex = table.rows[0].cells.length - 1;
        const cell = table.rows[0].cells[lastCellIndex];
        cell.appendChild(plusButtonDay);

        if (defaultDays.length === 7) {
            plusButtonDay.hidden = true;
        }


        minusButtonDay.setAttribute('id', 'minusButtonDay');
        minusButtonDay.textContent = '-';
        plusButtonDay.insertAdjacentElement('afterend', minusButtonDay);

        editButton.hidden = true;

        plusButtonTime.addEventListener('click', addTimeRow);
        minusButtonTime.addEventListener('click', removeTimeRow);

        plusButtonDay.addEventListener('click', addDay);
        minusButtonDay.addEventListener('click', removeDay);

    }


    editButton.addEventListener('click', startEditing);

    function addTimeRow() {
        const table = document.getElementById('schedule');
        const message = document.getElementById("errorMessage");

        if (!message.hidden) {
            message.hidden = true;
        }

        const startTime = prompt("Введите время начала");
        const endTime = prompt("Введите время конца");

        for (let col = 2; col < table.rows[0].cells.length - 1; col++) {
            let newDay = {
                id: {
                    startTime: startTime,
                    endTime: endTime,
                    day: scheduleTableArr[0][col]
                },
                content: "",
                schedule: {
                    scheduleId: 1
                }
            };
            const response = fetch('http://localhost:8080', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(newDay)
            }).then(response => {
                if (response.ok) {
                    if (col===table.rows[0].cells.length-2) {
                        console.log("хуууууй");
                        let newRow = table.insertRow();
                        for (let i = 0; i < table.rows[0].cells.length - 1; i++) {
                            let currCell = newRow.insertCell();
                            const form = document.createElement("form");
                            form.action = "";
                            form.method = "put";
                            const input = document.createElement("input");
                            input.type = "text";
                            if (currCell.cellIndex === 0) {
                                input.value = startTime;
                            } else if (currCell.cellIndex === 1) {
                                input.value = endTime;
                            } else {
                                input.value = "";
                            }
                            form.appendChild(input);
                            currCell.appendChild(form);
                        }
                        let newRowArr = Array(scheduleTableArr[0].length);
                        for (let i = 0; i < newRowArr.length; i++) {
                            if (i === 0) {
                                newRowArr[i] = startTime;
                            } else if (i === 1) {
                                newRowArr[i] = endTime;
                            } else {
                                newRowArr[i] = "";
                            }
                        }
                        scheduleTableArr.push(newRowArr);
                    }
                } else {
                    if (message.hidden){
                        message.hidden = false;
                    }
                    message.style.color = "red";
                    message.textContent = "Произошла ошибка! Проверьте корректность введенных данных";

                }

            });
        }
        if (table.rows.length > 2) {
            minusButtonTime.hidden = false;
        }
    }

    function removeTimeRow() {
        const table = document.getElementById('schedule');
        const rows = table.getElementsByTagName('tr');

        console.log("до");
        console.log(scheduleTableArr);

        const lastRowIndex = table.rows.length - 1;

        const timeToDelete = scheduleTableArr[lastRowIndex][0];
        console.log(timeToDelete)
        scheduleTableArr.pop();


        for (let col = 2; col < table.rows[0].cells.length - 1; col++) {
                fetch('http://localhost:8080', {
                method: 'DELETE',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(0)
            }).catch(error => {
                console.error('Ошибка:', error);
            });
                console.log("заебалась");
        }
        table.deleteRow(rows.length - 1);
        console.log("после");
        console.log(scheduleTableArr);
        if (table.rows.length < 3) {
            minusButtonTime.hidden = true;
        }
    }


    function addDay() {
        const table = document.getElementById("schedule");
        const rows = table.rows;
        const presentDaysAm = defaultDays.length;
        let newDayName = allDays[presentDaysAm];
        let currCell;
        for (let i = 0; i < rows.length; i++) {


            if (i === 0) {
                const headerRow = table.rows[0];
                const cellValue = allDays[presentDaysAm].toString();

                currCell = headerRow.insertCell(headerRow.cells.length - 1);
                currCell.innerHTML = cellValue;
                scheduleTableArr[i].push(cellValue);
                defaultDays.push(allDays[presentDaysAm]);
            } else {
                currCell = rows[i].insertCell(rows[i].cells.length - 1);
                const form = document.createElement("form");
                form.action = "";
                form.method = "put";
                const input = document.createElement("input");
                input.type = "text";
                input.value = "";
                form.appendChild(input);
                currCell.appendChild(form);


                scheduleTableArr[i].push("");
            }

        }
        if (defaultDays.length === 7) {
            plusButtonDay.hidden = true;
        } else if (defaultDays.length > 0) {
            minusButtonDay.hidden = false;
        }

        for (let row = 1; row < table.rows.length; row++) {
            let newDay = {
                id: {
                    startTime: scheduleTableArr[row][0],
                    endTime: scheduleTableArr[row][1],
                    day: newDayName,
                },
                content: "",
                schedule: {
                    scheduleId: 1
                }
            }
            fetch('http://localhost:8080', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(newDay)
            });
        }


    }

    function removeDay() {
        const table = document.getElementById("schedule");
        const rowsAmount = table.rows.length;
        let dayToDelete;
        for (let i = 0; i < rowsAmount; i++) {
            table.rows[i].deleteCell(table.rows[i].cells.length - 2);
            scheduleTableArr[i].pop();

        }


        dayToDelete = defaultDays.pop();


        fetch('http://localhost:8080', {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(1)
        });
        if (defaultDays.length === 1) {
            minusButtonDay.hidden = true;
        } else if (defaultDays.length < 7) {
            plusButtonDay.hidden = false;
        }
    }

    async function saveChanges() {
        const prevScheduleArr = new Array(scheduleTableArr.length);
        for (let row = 0; row < scheduleTableArr.length; row++) {
            prevScheduleArr[row] = new Array(scheduleTableArr[0].length);
        }
        for (let row = 0; row < prevScheduleArr.length; row++) {
            for (let col = 0; col < prevScheduleArr[0].length; col++) {
                prevScheduleArr[row][col] = scheduleTableArr[row][col];
            }
        }

        const table = document.getElementById("schedule");
        let totalUnsuccessfulRequests = 0;


        let formsCounter = 0;

        console.log("прошлый массив");
        console.log(prevScheduleArr);

        let inputs = document.querySelectorAll('input[type="text"]');


        for (let row = 0; row < table.rows.length; row++) {
            for (let col = 0; col < table.rows[0].cells.length - 1; col++) {


                if (row === 0) {
                    scheduleTableArr[row][col] = table.rows[row].cells[col].innerHTML;
                } else {
                    scheduleTableArr[row][col] = inputs[formsCounter].value;
                    formsCounter++;
                }
            }
        }


        const message = document.getElementById("errorMessage");

        console.log("проапдейченный массив");
        console.log(scheduleTableArr);


        for (let row = 1; row < scheduleTableArr.length; row++) {
            for (let col = 2; col < scheduleTableArr[0].length; col++) {
                let day = {
                    id: {
                        startTime: scheduleTableArr[row][0],
                        endTime: scheduleTableArr[row][1],
                        day: scheduleTableArr[0][col],
                    },
                    content: scheduleTableArr[row][col],
                    schedule: {
                        scheduleId: 1
                    }
                }

                totalUnsuccessfulRequests += await getUnsuccessfulRequestsAmount(day, totalUnsuccessfulRequests);
            }
        }


        if (totalUnsuccessfulRequests > 0) {
            console.log("прошлый массив");
            console.log(prevScheduleArr);
            for (let row = 0; row < table.rows.length; row++) {
                for (let col = 0; col < table.rows[0].cells.length - 1; col++) {
                    let exDay =
                        {
                            id: {
                                startTime: prevScheduleArr[row][0],
                                endTime: prevScheduleArr[row][1],
                                day: prevScheduleArr[0][col],
                            },
                            content: prevScheduleArr[row][col],
                            schedule: {
                                scheduleId: 1
                            }
                        }


                    fetch('http://localhost:8080/', {
                        method: 'PUT',
                        headers: {
                            'Content-type': 'application/json'
                        },
                        body: JSON.stringify(exDay)
                    })
                }
            }
            if (message.hidden){
                message.hidden=false;
            }
            message.style.color = "red";
            message.textContent = "Произошла ошибка! Проверьте корректность введенных данных";

        } else {
            if (message.hidden){
                message.hidden=false;
            }
            message.style.color = "green";
            message.textContent = "Успешно сохранено!";
            console.log(formsCounter);
            formsCounter = 0;
            outer: for (let row = 1; row < table.rows.length; row++) {
                for (let col = 0; col < table.rows[0].cells.length - 1; col++) {
                    if (formsCounter >= inputs.length) {
                        break outer;
                    }
                    console.log("пидор")
                    table.rows[row].cells[col].innerHTML = inputs[formsCounter].value;
                    formsCounter++;
                }
            }
            plusButtonTime.remove();
            minusButtonTime.remove();

            plusButtonDay.remove();
            minusButtonDay.remove();

            editButton.hidden = false;
            saveButton.style.display = "none";
        }


    }

    async function getUnsuccessfulRequestsAmount(day, totalUnsuccessfulRequests) {
        let response = await fetch('http://localhost:8080/', {
            method: 'PUT',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(day)
        }).then(response => {
            if (!response.ok) {
                totalUnsuccessfulRequests++;
            }
        });

        return totalUnsuccessfulRequests;
    }


    document.getElementById('saveButton').addEventListener('click', saveChanges)

    //TODO:  по сути осталось только сделать модальное окно (сразу же займусь этим хихи) и возможность вводить время в формате hh:mm и h:mm
</script>

</body>
</html>
