<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="scheduleStyle.css">
    <meta charset="UTF-8">
    <title>я пажилой человек 54 пажилых года</title>
</head>

<body>
<h1>Schedule</h1>
<div class="topnav">
    <a>тут будет красивое....</a>
</div>


<div class="dropdown">
    <button class="dropbtn">сиськи пиписьки</button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>

<table id="schedule">

    <thead>
    <th></th>
    <th:block th:each="days : ${defaultDays}">
        <th th:text="${days}">Дни</th>
    </th:block>
    </thead>

    <tr th:each="iterPar, iterStat: ${defaultTimes}" >
        <th:block>
            <td th:text="${iterPar}"> </td> <!--ячейка со временем -->
        <td th:each="subjPar: ${defautScheduleItems}" th:text="${subjPar[iterStat.index]}">SubjCell</td>   <!-- выводим строку с названием предмета, соответствующую данному времени и дню -->
        </th:block>
    </tr>

    <tr id="buttonRow">
        <td colspan="1"></td>
    </tr>

</table>







<script>
    // Создадим кнопку
    const button = document.createElement("button");
    button.innerHTML = "зиги свастики";

    // Найдем строку, в которой будет располагаться кнопка (последний элемент таблицы)
    var buttonRow = document.getElementById("buttonRow");
    var cell = buttonRow.cells[0]; // Берем первую ячейку в строке

    // Добавим кнопку в ячейку
    cell.appendChild(button);

</script>


</body>
</html>